modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
ADMIN_EMAIL = "jaylin.becker22@icloud.com"
VAPID_PUBLIC_KEY = "BIe80vx9giceRRA7D4ME-POsEQuqUnGb7_lQhz-Ueyj98gQb-xLIirnZfctr4Kwc0RLUCe7CCXIWvVGoV6awTX4"
STRIPE_PRO_PRICE_ID = "price_1T6hh82ceUNmv10tdIMnFF5N"
STRIPE_ALL_SPORTS_PRICE_ID = "price_1T6hh92ceUNmv10tShQlLUYt"
VAPID_PRIVATE_KEY = "3Yu8VEwTqOh2T-QyWut1FxJKKgeXM8m8t3Pvapdsmls"
TANK01_RAPIDAPI_KEY = "3da622e553msh3b409c0a76b5f91p1891a3jsn2825f5b28437"
ODDS_API_KEY = "03738703be17eb2f152003c23029691a"

[agent]
integrations = ["stripe:2.0.0", "javascript_stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
